.contenedor {
background-color: white;
border: 1px solid gray;

}

.caja{
	width: 25%;
	height: 100px;
	float: left;
}

.amarillo{
	background-color: #ffff00;
}

.azul{
	background-color: #3a81ba;
}

.rosado{
	background-color: #ed2251;
}

.contenedor:after{
	content: "";
	display: block;
	clear: both;
}