.contenedor {
background-color: white;
border: 1px solid gray;

}

.caja{
	width: 25%;
	height: 100px;
	float: left;
}

.amarillo{
	background-color: #ffff00;
}

.azul{
	background-color: #3a81ba;
}

.rosado{
	background-color: #ed2251;
}
.boton {
	margin: 20px;
	border: 2px solid #5F0656;
	background-color: #EDB9E5;
	font-family: cursive;
	font-size: 20px;

}